<?xml version="1.0" encoding="utf-8"?>

<!-- TEST -->

<configuration>

  <configSections>
    <section name="jj.framework.data"
             type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.presentation.questionandanswer.import"
             type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <runtime>
    <!-- This would help UnhandledExceptionMessageBoxShower 
    prevent undhandled exceptions on non-IU thread from halting the application. -->
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>

  <!--<jj.framework.data
    contextType="EntityFramework"
    dialect="SqlServer2008"
    location="Data Source=.;Initial Catalog=TEST_QuestionAndAnswerDB;User ID=test;Password=test;Persist Security Info=True"
    modelAssembly="JJ.Data.QuestionAndAnswer"
    mappingAssembly="JJ.Data.QuestionAndAnswer.EntityFramework">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Data.QuestionAndAnswer.EntityFramework</repositoryAssembly>
      <repositoryAssembly>JJ.Data.QuestionAndAnswer.DefaultRepositories</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.data>-->

  <jj.framework.data
    contextType="NHibernate"
    dialect="SqlServer2008"
    location="Data Source=.;Initial Catalog=TEST_QuestionAndAnswerDB;User ID=test;Password=test;Persist Security Info=True"
    modelAssembly="JJ.Data.QuestionAndAnswer"
    mappingAssembly="JJ.Data.QuestionAndAnswer.NHibernate">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Data.QuestionAndAnswer.NHibernate</repositoryAssembly>
      <repositoryAssembly>JJ.Data.QuestionAndAnswer.DefaultRepositories</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.data>

  <jj.presentation.questionandanswer.import>
    <importers>

      <importer sourceDescription="DutchToPolish.Csv, Jan Joost van Zon, Google Translate"
                sourceIdentifier="DutchToPolish_Csv_JanJoostVanZon_GoogleTranslate"
                inputFilePath="..\..\IO Files\DutchToPolish.csv"
                modelType="JJ.Business.QuestionAndAnswer.Import.Language.Model, JJ.Business.QuestionAndAnswer.Import.Language"
                selectorType="JJ.Business.QuestionAndAnswer.Import.Language.CsvSelector, JJ.Business.QuestionAndAnswer.Import.Language"
                converterType="JJ.Business.QuestionAndAnswer.Import.Language.Converter, JJ.Business.QuestionAndAnswer.Import.Language"
                categoryPath="Language\{0}To{1}" />

      <importer sourceDescription="DutchToPolishHomeImprovement.Csv, Jan Joost van Zon, Google Translate"
                sourceIdentifier="DutchToPolishHomeImprovement_Csv_JanJoostVanZon_GoogleTranslate"
                inputFilePath="..\..\IO Files\DutchToPolishHomeImprovement.csv"
                modelType="JJ.Business.QuestionAndAnswer.Import.Language.Model, JJ.Business.QuestionAndAnswer.Import.Language"
                selectorType="JJ.Business.QuestionAndAnswer.Import.Language.CsvSelector, JJ.Business.QuestionAndAnswer.Import.Language"
                converterType="JJ.Business.QuestionAndAnswer.Import.Language.Converter, JJ.Business.QuestionAndAnswer.Import.Language"
                categoryPath="Language\DutchPolish\HomeImprovement\{0}To{1}" />

      <importer sourceDescription="DutchToPolishFriendly.Csv, Jan Joost van Zon, Google Translate"
                sourceIdentifier="DutchToPolishFriendly_Csv_JanJoostVanZon_GoogleTranslate"
                inputFilePath="..\..\IO Files\DutchToPolishFriendly.csv"
                modelType="JJ.Business.QuestionAndAnswer.Import.Language.Model, JJ.Business.QuestionAndAnswer.Import.Language"
                selectorType="JJ.Business.QuestionAndAnswer.Import.Language.CsvSelector, JJ.Business.QuestionAndAnswer.Import.Language"
                converterType="JJ.Business.QuestionAndAnswer.Import.Language.Converter, JJ.Business.QuestionAndAnswer.Import.Language"
                categoryPath="Language\DutchPolish\Friendly\{0}To{1}" />

      <importer sourceDescription="W3C Specification, CSS3, Property Index"
                sourceIdentifier="W3CSpecCss3_PropertyIndex"
                sourceUrl="http://www.w3.org/TR/CSS/#properties"
                inputFilePath="..\..\IO Files\W3CSpecCss3_PropertyIndex.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss3_PropertyIndex_HtmlSelector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\PropertyIndex" />

      <importer sourceIdentifier="W3CSpecCss3_SelectorIndex"
                sourceDescription="W3C Specification, CSS3, Selector Index"
                sourceUrl="http://www.w3.org/TR/CSS/#selectors"
                inputFilePath="..\..\IO Files\W3CSpecCss3_SelectorIndex.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.W3CSpecCss3_SelectorIndex_ImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss3_SelectorIndex_HtmlSelector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.W3CSpecCss3_SelectorIndex_Converter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="" />

      <importer sourceIdentifier="W3CSpecCss21_BoxModel_PropertyAspects"
                sourceDescription="W3C Specification, CSS 2.1, Box Model, Property Aspects"
                sourceUrl="http://www.w3.org/TR/CSS21/box.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_BoxModel.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\BoxModel" />

      <importer sourceIdentifier="W3CSpecCss21_BoxModel_LooseDefinitions"
                sourceDescription="W3C Specification, CSS 2.1, Box Model, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/CSS21/box.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_BoxModel.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\BoxModel" />

      <importer sourceIdentifier="W3CSpecCss21_VisualFormattingModel_PropertyAspects"
                sourceDescription="W3C Specification, CSS 2.1, Visual Formatting Model, Property Aspects"
                sourceUrl="http://www.w3.org/TR/CSS21/visuren.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_VisualFormattingModel.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\VisualFormatting" />

      <importer sourceIdentifier="W3CSpecCss21_VisualFormattingModel_LooseDefinitions"
                sourceDescription="W3C Specification, CSS 2.1, Visual Formatting Model, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/CSS21/visuren.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_VisualFormattingModel.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\VisualFormatting" />

      <importer sourceIdentifier="W3CSpecCss21_VisualFormattingModelDetails_PropertyAspects"
                sourceDescription="W3C Specification, CSS 2.1, Visual Formatting Model Details, Property Aspects"
                sourceUrl="http://www.w3.org/TR/CSS21/visudet.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_VisualFormattingModelDetails.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\VisualFormattingDetails" />

      <importer sourceIdentifier="W3CSpecCss21_VisualFormattingModelDetails_LooseDefinitions"
                sourceDescription="W3C Specification, CSS 2.1, Visual Formatting Model Details, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/CSS21/visudet.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_VisualFormattingModelDetails.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\VisualFormattingDetails" />

      <importer sourceIdentifier="W3CSpecCss21_VisualEffects_PropertyAspects"
                sourceDescription="W3C Specification, CSS 2.1, Visual Effects, Property Aspects"
                sourceUrl="http://www.w3.org/TR/CSS21/visufx.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_VisualFormattingModelDetails.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\VisualEffects" />

      <importer sourceIdentifier="W3CSpecCss21_VisualEffects_LooseDefinitions"
                sourceDescription="W3C Specification, CSS 2.1, Visual Effects, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/CSS21/visufx.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_VisualEffects.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\VisualEffects" />

      <importer sourceIdentifier="W3CSpecCss21_GeneratedContent_PropertyAspects"
                sourceDescription="W3C Specification, CSS 2.1, Generated Content, Property Aspects"
                sourceUrl="http://www.w3.org/TR/CSS21/generate.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_GeneratedContent.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\GeneratedContent" />

      <importer sourceIdentifier="W3CSpecCss21_GeneratedContent_LooseDefinitions"
                sourceDescription="W3C Specification, CSS 2.1, Generated Content, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/CSS21/generate.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_GeneratedContent.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\GeneratedContent" />

      <importer sourceIdentifier="W3CSpecCss21_PagedMedia_PropertyAspects"
                sourceDescription="W3C Specification, CSS 2.1, Paged Media, Property Aspects"
                sourceUrl="http://www.w3.org/TR/CSS21/page.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_PagedMedia.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\PagedMedia" />

      <importer sourceIdentifier="W3CSpecCss21_PagedMedia_LooseDefinitions"
                sourceDescription="W3C Specification, CSS 2.1, Paged Media, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/CSS21/page.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_PagedMedia.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\PagedMedia" />

      <importer sourceIdentifier="W3CSpecCss21_ColorsAndBackgrounds_PropertyAspects"
                sourceDescription="W3C Specification, CSS 2.1, Colors and Backgrounds, Property Aspects"
                sourceUrl="http://www.w3.org/TR/CSS21/colors.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_ColorsAndBackgrounds.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\ColorsAndBackgrounds" />

      <importer sourceIdentifier="W3CSpecCss21_ColorsAndBackgrounds_LooseDefinitions"
                sourceDescription="W3C Specification, CSS 2.1, Colors and Backgrounds, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/CSS21/colors.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_ColorsAndBackgrounds.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\ColorsAndBackgrounds" />

      <importer sourceIdentifier="W3CSpecCss21_Fonts_PropertyAspects"
                sourceDescription="W3C Specification, CSS 2.1, Fonts, Property Aspects"
                sourceUrl="http://www.w3.org/TR/CSS21/fonts.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_Fonts.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\Fonts" />

      <importer sourceIdentifier="W3CSpecCss21_Fonts_LooseDefinitions"
                sourceDescription="W3C Specification, CSS 2.1, Fonts, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/CSS21/fonts.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_Fonts.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\Fonts" />

      <importer sourceIdentifier="W3CSpecCss21_Text_PropertyAspects"
                sourceDescription="W3C Specification, CSS 2.1, Text, Property Aspects"
                sourceUrl="http://www.w3.org/TR/CSS21/text.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_Text.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\Text" />

      <importer sourceIdentifier="W3CSpecCss21_Text_LooseDefinitions"
                sourceDescription="W3C Specification, CSS 2.1, Text, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/CSS21/text.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_Text.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\Text" />

      <importer sourceIdentifier="W3CSpecCss21_Tables_PropertyAspects"
                sourceDescription="W3C Specification, CSS 2.1, Tables, Property Aspects"
                sourceUrl="http://www.w3.org/TR/CSS21/tables.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_Tables.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\Tables" />

      <importer sourceIdentifier="W3CSpecCss21_Tables_LooseDefinitions"
                sourceDescription="W3C Specification, CSS 2.1, Tables, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/CSS21/tables.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_Tables.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\Tables" />

      <importer sourceIdentifier="W3CSpecCss21_UserInterface_PropertyAspects"
                sourceDescription="W3C Specification, CSS 2.1, User Interface, Property Aspects"
                sourceUrl="http://www.w3.org/TR/CSS21/ui.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_UserInterface.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\UserInterface" />

      <importer sourceIdentifier="W3CSpecCss21_UserInterface_LooseDefinitions"
                sourceDescription="W3C Specification, CSS 2.1, User Interface, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/CSS21/ui.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_UserInterface.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\UserInterface" />

      <importer sourceIdentifier="W3CSpecCss21_Aural_PropertyAspects"
                sourceDescription="W3C Specification, CSS 2.1, Aural, Property Aspects"
                sourceUrl="http://www.w3.org/TR/CSS21/aural.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_Aural.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\Aural" />

      <importer sourceIdentifier="W3CSpecCss21_Aural_LooseDefinitions"
                sourceDescription="W3C Specification, CSS 2.1, Aural, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/CSS21/aural.html"
                inputFilePath="..\..\IO Files\W3CSpecCss21_Aural.html"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss21_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\Aural" />

      <importer sourceIdentifier="W3CSpecCss3_BackgroundsAndBorders_PropertyAspects"
                sourceDescription="W3C Specification, CSS3, Backgrounds and Borders, Property Aspects"
                sourceUrl="http://www.w3.org/TR/css3-background/"
                inputFilePath="..\..\IO Files\CSS Backgrounds and Borders Module Level 3.htm"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss3_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\BackgroundsAndBorders" />

      <importer sourceIdentifier="W3CSpecCss3_BackgroundsAndBorders_LooseDefinitions"
                sourceDescription="W3C Specification, CSS3, Backgrounds and Borders, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/css3-background/"
                inputFilePath="..\..\IO Files\CSS Backgrounds and Borders Module Level 3.htm"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss3_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\BackgroundsAndBorders" />

      <importer sourceIdentifier="W3CSpecCss3_Marquee_PropertyAspects"
                sourceDescription="W3C Specification, CSS3, Marquee, Property Aspects"
                sourceUrl="http://www.w3.org/TR/css3-background/"
                inputFilePath="..\..\IO Files\CSS Marquee Module Level 3.htm"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.PropertyAspectsImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss3_PropertyAspects_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.PropertyAspectsConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\Marquee" />

      <importer sourceIdentifier="W3CSpecCss3_Marquee_LooseDefinitions"
                sourceDescription="W3C Specification, CSS3, Marquee, Loose Definitions"
                sourceUrl="http://www.w3.org/TR/css3-background/"
                inputFilePath="..\..\IO Files\CSS Marquee Module Level 3.htm"
                modelType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.LooseDefinitionImportModel, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss3_LooseDefinition_Selector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.LooseDefinitionConverter, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                categoryPath="Css3\Properties\Marquee" />
    </importers>

  </jj.presentation.questionandanswer.import>
</configuration>