@model QuestionNotFoundViewModel

@section Title
{
    @Titles.NoQuestionsFound
}

@section Header
{
    @Html.Partial(nameof(ViewNames._Login), Model.Login)
}

<p>@Messages.NoQuestionsFound</p>
