@model QuestionNotFoundViewModel

@section Title
{
    @ResourceFormatter.NoQuestionsFound
}

@section Header
{
    @Html.Partial(nameof(ViewNames._Login), Model.Login)
}

<p>@ResourceFormatter.NoQuestionsFound</p>
