<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IResourceService" />
        <binding name="BasicHttpBinding_IRandomQuestionService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52160/ResourceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceService"
        contract="ResourceService.IResourceService" name="BasicHttpBinding_IResourceService" />
      <endpoint address="http://localhost:52160/RandomQuestionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRandomQuestionService"
        contract="RandomQuestionService.IRandomQuestionService" name="BasicHttpBinding_IRandomQuestionService" />
    </client>
  </system.serviceModel>
</configuration>