<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="jj.apps.questionandanswer.import" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

  <jj.apps.questionandanswer.import>
    <importers>
      <importer inputFilePath    ="IO Files\W3CSpecCss3_PropertyIndex"
                modelType        ="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.W3CSpecCss3_PropertyIndex_ImportModel,     JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType     ="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss3_PropertyIndex_HtmlSelector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType    ="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.W3CSpecCss3_PropertyIndex_Converter,   JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                sourceIdentifier ="W3CSpecCss3_PropertyIndex"
                sourceDescription="W3C Specification, CSS3, Property Index"
                sourceUrl        ="http://www.w3.org/TR/CSS/#properties"/>


      <importer inputFilePath    ="IO Files\W3CSpecCss3_SelectorIndex"
                modelType        ="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Models.W3CSpecCss3_SelectorIndex_ImportModel,     JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                selectorType     ="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Selectors.W3CSpecCss3_SelectorIndex_HtmlSelector, JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                converterType    ="JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3.Converters.W3CSpecCss3_SelectorIndex_Converter,   JJ.Business.QuestionAndAnswer.Import.W3CSpecCss3"
                sourceIdentifier ="W3CSpecCss3_SelectorIndex"
                sourceDescription="W3C Specification, CSS3, Selector Index"
                sourceUrl        ="http://www.w3.org/TR/CSS/#properties" />
    </importers>
  </jj.apps.questionandanswer.import>

</configuration>