<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PersistenceLocation" value="Data Source=.\SQLEXPRESS;Initial Catalog=QuestionAndAnswerDB_DEV;Persist Security Info=True;User ID=development;Password=development" />
    <add key="PersistenceContextType" value="JJ.Framework.Persistence.NHibernate.NHibernateContext, JJ.Framework.Persistence.NHibernate"/>
    <add key="PersistenceModelAssembly" value="JJ.Models.QuestionAndAnswer.Persistence" />
    <add key="PersistenceModelAssembly2" value="JJ.Models.QuestionAndAnswer.Persistence.NHibernate" />
  </appSettings>
</configuration>
