@* ReSharper disable SuggestVarOrType_SimpleTypes *@

@model CategoryViewModel

@if (Model.Visible)
{
    <text>
        <li draggable="true"
            ondragstart="liAvailableCategory_onDragStart(event)"
            data-category-id="@Model.ID"
            class="category available"
            id="liAvailableCategory(@Model.ID)">
            @* The element needs an ID for HTML5 drag and drop to work. *@
    </text>

    @Model.NameParts.Last()
}

@if (Model.SubCategories.Count > 0)
{
    <ul class="category available">
        @foreach (var subCategory in Model.SubCategories)
        {
            @Html.Partial(nameof(ViewNames._AvailableCategory), subCategory)
        }
    </ul>
}

@if (Model.Visible)
{
@:</li>
}
