@model LanguageSelectorPartialViewModel

<div id="langDiv">
    @CommonResourceFormatter.Language

    @Html.DropDownListFor(
        x => x.SelectedLanguageCultureName,
        Model.Languages.Select(x => new SelectListItem 
        { 
            Value = x.CultureName, 
            Text = x.Name
        }),
        htmlAttributes: new { id = "langddl" })

    <script type="text/javascript">
        $(document).ready(function () {
            $("#langddl").change(function () {
                var cultureName = $(this).val();
                var url = JJ.Framework.Url.setParameter(window.location.href, "@nameof(ActionParameterNames.lang)", cultureName);

                if (window.document.forms.length == 0) {
                    window.location.href = url;
                }
                else {
                    window.document.forms[0].action = url;
                    window.document.forms[0].submit();
                }
            });
        });
    </script>
</div>