@model LoginPartialViewModel

<div id="loginDiv">
    @if (Model.CanLogIn)
    {
        @Html.ActionLink(CommonResourceFormatter.LogIn, nameof(ActionNames.Index), nameof(ControllerNames.Login))
    }

    @Model.UserDisplayName 

    @if (Model.CanLogOut)
    { 
        <div id="logindropdown">
            @Html.ActionLink(CommonResourceFormatter.LogOut, nameof(ActionNames.LogOut), nameof(ControllerNames.Login))
        </div>
    } 
</div>
