@model LoginPartialViewModel

<div id="loginDiv">
    @if (Model.CanLogIn)
    {
        @Html.ActionLink(CommonResourceFormatter.LogIn, ActionNames.Index, ControllerNames.Login)
    }

    @Model.UserDisplayName 

    @if (Model.CanLogOut)
    { 
        <div id="logindropdown">
            @Html.ActionLink(CommonResourceFormatter.LogOut, ActionNames.LogOut, ControllerNames.Login) 
        </div>
    } 
</div>
