@model JJ.Framework.Presentation.NotAuthorizedViewModel

@section Title
{
    @CommonTitlesFormatter.NotAuthorized
}

<h2>@CommonTitlesFormatter.NotAuthorized</h2>
<p>@Messages.NotAuthorized</p>